.places__site-heading {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}

@media screen and (max-width: 833px) {
  .places__site-heading {
    line-height: 12px;
    margin-bottom: 12px;
  }
}
