.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}

@media screen and (max-width:750px) {
  .lead__title {
    margin-bottom: 24px;
    font-size: 56px;
    line-height: 59px;
    max-width: 460px;
  }
}

@media screen and (max-width:520px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
