.photo {
  margin: 0 48px;
  padding-bottom: 92px;
}

@media screen and (max-width: 993px) {
  .photo {
    max-width: 100%;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 785px) {
  .photo {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 520px) {
  .photo {
    margin-right: 16px;
    margin-left: 16px;
    padding-bottom: 64px;
  }
}
